# Compiled Object files, Static and Dynamic libs (Shared Objects)
picel
picel_*_386
picel_*_amd64
picel_*_arm
*.o
*.a
*.so

# Folders
_obj
_test
test_assets

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

coverage.html
coverage.out
