language: go
go:
  - 1.7.3
sudo: required
before_install:
  - bash .travis.install_deps.bash
  - git fetch origin test_assets:origin/test_assets
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls
install:
  - go get github.com/Masterminds/glide
  - cd $GOPATH/src/github.com/Masterminds/glide && git checkout v0.12.2 && go install && cd -
  - glide install
script:
  - make test
after_script:
  - sh `pwd`/scripts/coverage --coveralls
